# macOS
.DS_Store

# IntelliJ
.idea/
*.iml

# backend build/cache
backend/build/
backend/out/
backend/.gradle/

# backend uploads
backend/uploads/

# frontend
frontend/node_modules/
frontend/dist/
frontend/.next/

# env
backend/.env
backend/.env
frontend/.env
